.pagina-cadastro {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: black;
    width: 100%;
    min-height: 100vh;

    .header {
        display: flex;
        justify-content: space-around;
        padding: 10px;
        align-items: center;
        flex-wrap: wrap;

        h1 {
            color: #ffff;
        }
    }

    .form {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 20px;

        .form__div {
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            color: #ffff;
        }

        .form__imagem {
            display: flex;
            flex-direction: column;
            color:#ffff;
        }
        

        

    }
}
