

.comunidade_soc {
    margin: 0;
    padding-bottom: 140px;
    max-width: 100vw;
    min-height: 1800px;
    box-sizing: border-box;
    font-family: sans-serif;
    background: linear-gradient(to bottom, black, rgba(46, 45, 45, 0.548));
    overflow-y: hiddan;
    
    
    

        .cabecalho {
            display: flex;
            align-items: center;
            text-align: center;
            justify-content: space-between;
            width: 100%;
            height: 100px;
            position: fixed;
           


            .search-container {
                position: relative;
                left: 500px;

            .search-box {
                display: flex;
                background: rgba(84, 83, 83, 0.548);
                backdrop-filter: blur(40px);
                width: 230px;
                height: 28px;
                align-items: center;
                margin-left: 8px;
                margin-right: 8px;
                border-radius: 50px;
                border: 3px solid #6372f4;

                &::placeholder {
                    color:#ffff
                }
            }

                .search-icon {
                    position: absolute;
                    top: 56%;
                    right: 20px;
                    transform: translateY(-50%);
                    cursor: pointer;
                  }              
            
        }

            .social {
                display: flex;
                align-items: center;
                gap: 30px;

                .comunidade {
                    width: 45px;
                    height: 45px;
                    
                }

                .user {
                    width: 50px;
                    height: 50px;
                    margin-right: 80px;
                }
            }
        }

        .slidebar {
            position: fixed;
            left: 0;
            top: 0;
            width: 275px;
            height: 100vh;
            background: rgba(86, 86, 86, 0.35);
            backdrop-filter: blur(25px);
            padding: 15px 15px;
            z-index: 9;
            transition: all 0.5s ease;

            .menu {
                height: 100%;
                margin: 0;
                padding: 0;
                display: flex;
                align-items: center;
                flex-direction: column;

                .logo__principal {
                    width: 120px;
                    margin: -25px 0px 0px 0px;
                    
                }
                    
                a {
                    text-decoration: none;
                    
                    .btn__criar {
                        display: flex;
                        width: 170px;
                        height: 49px;
                        text-align: center;
                        justify-content: center;
                        align-items: center;
                        border-radius: 30px;
                        border: 2px solid #ffff;
                        color: #ffff;
                        background: transparent;
                        margin-bottom: 10px;
                        
                    
    
                        &:hover {
                            border: 2px solid #6372f4;
                            color: #6372f4;
                        }

                        img {
                            width: 20px;
                            height: 20px;
                            margin-right: 5px;
                        }

                    
                    }
                }
    
                    .menu__div {  
                        display: flex;
                        width: 170px;
                        height: 45px;
                        text-align: center;
                        justify-content: center;
                        align-items: center;
                        border-radius: 30px;
                        border: 2px solid #ffff;
                        color: #ffff;
                        background: transparent;
                        margin: 10px;
                    
    
                        &:hover {
                            border: 2px solid #6372f4;
                            color: #6372f4;
                        }


                        .menu__link {
                            display: flex;
                            text-align: center;
                            align-items: center;
                            justify-content: center;
                            text-decoration: none;
                            color: #ffff;
                            font-size: 13px;
                            margin-right: 35px;

                            &:hover {
                                color: #6372f4;
                            }
                        }
    
                        img {
                            width: 35px;
                            height: 35px;
                            margin-right: 15px;
                        }


                        .ciencias {
                                width: 30px;
                                height: 30px;
                            
                        }


                        .link__arte {
                            margin-right: 55px;
                        }
                        
                        .arte {
                            margin-right: 25px;
                        }
                    }

                }
            }

            .box__comunidade {
                display: flex;
                position: relative;
                top: 100px;
                left: 330px;
                align-items: center;
                background: rgba(84, 83, 83, 0.548);
                width: 20vw;
                height: 120px;
                background: rgba(84, 83, 83, 0.548);
                border-radius: 20px;
                border: 2px solid #6372f4;

                .img__comunidade {
                    width: 8rem;
                    height: 100px;
                    justify-content: flex-start;
                    margin-left: 10px;
                    border-radius: 20px;
                }

                .comu {
                    display: flex;
                    flex-direction: column;
                    text-align: center;

                    h2 {
                        color: #fff;
                        font: 400;
                        margin: 10px 0px 10px 10px;
                    }

                    a {
                        display: flex;
                        flex-wrap: wrap;
                        align-items: center;
                        justify-content: center;
                        text-align: center;
                        text-decoration: none;
                        color: #ffff;
                        font: 300;
                        cursor: pointer;

                        &:hover {
                            color: #6372f4;
                        }

                        .seguir {
                            margin: 10px;
                            width: 20px;
                            height: 20px;
                        }
                    }

                }

            }


            .box__sentindo {
                display: flex;
                position: relative;
                top: -10px;
                left: 600px;
                align-items: center;
                justify-content: center;
                text-align: center;
                background: rgba(84, 83, 83, 0.548);
                width: 48vw;
                height: 100px;
                border-radius: 30px;
                border: 2px solid #6372f4;

                .img__user {
                    width: 60px;
                    height: 60px;
                    margin: 20px;
                }

                input {
                    width: 50vw;
                    height: 30px;
                    border-radius: 20px;
                    margin-right: 20px;

                    &::placeholder {
                        color: black;
                        font-size: 16px;
                        font: 400;
                        padding: 10px 10px;    
                    }
                }

                .btn__criar {
                    display: flex;
                    width: 100px;
                    height: 35px;
                    text-align: center;
                    justify-content: center;
                    align-items: center;
                    border-radius: 30px;
                    border: 2px solid #ffff;
                    color: #ffff;
                    background: transparent;
                    margin-right: 20px;
                    
                

                    &:hover {
                        border: 2px solid #6372f4;
                        color: #6372f4;
                    }

                    img {
                        width: 20px;
                        height: 20px;
                        margin-right: 10px;
                    }
                }

            }


            .post {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                text-align: center;
                position: relative;
                left: 30%;
                width: 60vw;
                

                .posting {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    text-align: center;
                    background: rgba(84, 83, 83, 0.548);
                    border-radius: 30px;
                    margin: 20px 0px;
                

                .post__container {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    text-align: center;
                    width: 60vw;
                    
                    
                    .user__post {
                        display: flex;
                        align-items: center;
                       
                        flex-direction: column;
                        width: 108px;
                        height: 150px;
                        padding: 20px 40px 0 40px;

                        .img__user {
                            width: 60px;
                            height: 60px;
                            margin-bottom: 10px;
                        }

                        a {
                            text-decoration: none;
                            color: #ffff;
                            font-size: 14px;
                        }
                    }

                    .descricao__post {
                        display: flex;
                        text-align: center;
                        justify-content: center;
                        flex-direction: column;
                        margin: 10px 40px 10px 10px;
                        

                        h2 {
                            font-size: 20px;
                            color: #ffff;
                            text-align: justify;
                        }

                        p {
                            font-size: 14px;
                            color: #ffff;
                            text-align: justify;
                        }

                        button {
                            background: transparent;
                            margin-top: 5px;
                            border: none;
                            width: 80px;
                            color: #fff;
                            cursor: pointer;

                            &:hover {
                                color: #6372f4;
                            }
                        }
                    }

                }

                .img__post {
                    width: 55vw;

                    img {
                        width: 100%;
                        height: 300px;
                    }
                }

                .container__icons {
                    display: flex;
                    align-items: center;
                    text-align: center;
                    justify-content: center;
                    padding: 15px 0 20px 0;

                    a {
                        display: flex;
                        align-items: center;
                        text-align: center;
                        justify-content: center;
                        border: 2px solid #fff;
                        border-radius: 20px;
                        width: 130px;
                        height: 30px;
                        text-decoration: none;
                        color: #fff;
                        margin: 5px;
                        
                        &:hover {
                            background: #6372f4;
                        }

                        i {
                            margin-right: 10px;
                        }
                    }
                }
            }
        }
    }



    
