.page-consulta {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: black;
    color: #ffff;
    width: 100%;
    min-height: 100vh;
    font-family: Inter;

    .header {
        display: flex;
        justify-content: space-around;
        padding: 10px;
        align-items: center;
        flex-wrap: wrap;

        h1 {
            color: #ffff;
            margin-right: 60px;
        }
    }

    table {
        width: 100%;
        text-align: center;
        border: 2px solid #ffff;
        flex-wrap: wrap;
        
        tr {
            flex-direction: column;
            border: 2px solid #ffff;
            background-color: #8805F0;

            th {
                padding: 10px;
                border: 2px solid #ffff;
            }
        }
    }
}
